body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
  }
  
  h2 {
	color: #333;
  }
  
  button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  form {
	margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="submit"] {
	padding: 8px;
	margin: 5px;
	font-size: 14px;
  }
  
  #addPatientMedicalRecordResult {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
  }
  
  #checkAppointmentsListByDateResult {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
  }
  

  #searchServiceForm,
  #searchDrugForm {
	display: none;
  }

  #addServiceResult {
	color: rgb(217, 22, 22);
  }
  #addDrugResult {
	color: rgb(217, 22, 22);
  }

  .tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    color: #000000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
    color: #009688
  }
  
  .tab button.active {
    background-color: #009688;
    color: white;
  }
  
  .tabcontent {
    display: none;
  }

  #Table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* Adjust margin as needed */
  }
  
  #Table th,
  #Table td {
    border: 1px solid #009688;
    padding: 8px;
    text-align: left;
  }
  
  #Table th {
    background-color: #009688;
    color: white;
  }
  
  #Table td {
    background-color: #f2f2f2;
    /* Optional: Add a background color for alternate rows */
  }
  
  /* Optional: Add hover effect on rows */
  #Table tr:hover {
    background-color: #e0e0e0;
  }


  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
	  padding: 8px;
	  margin: 5px;
	  font-size: 14px;
	  background-color: #ffffff;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
	  width: 250px;
    height: initial;
  }

  form {
    margin-bottom: 20px;
    }
  
    .form-row{
      display: flex;
      flex-direction: row;
        align-items: flex-start; /* avoid stretching */
        margin-bottom: 20px;
      }
    
      .form-row input[type="text"],
      .form-row input[type="date"]{
      width: 250px;
        height: initial;
      }
    
      .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
    
    .form-row input[type="date"]{
      margin-left: 5px;
      padding-right: 12px;
      height: 24px;
    }

	input[type="submit"],
	button {
	padding: 10px 20px;
	background-color: #009688;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover,
  button:hover {
	background-color: #00796b;
  }
	.tabUpper {
	  margin-bottom: 15px;
	  padding: 15px;
	}
  
	.tab {
	  border-block-end: 0.5px solid;
	}
